/* aligns text to be centered on the page */
.center {
     text-align: center;
}
/* aligns the arrows for each of the displayed components and makes them bigger so they are visible */
.right-aligned-dropdown-arrow {
     margin: 0px;
     padding: 0px;
     position: absolute;
     right: 20px;
     top: 5px;
     font-size: 30px;
}
/*  */
.HTU-button {
    border: none;
}

/*************************
*        Popups          *
*************************/
/* Gives background color to the pop up */
.popup {
     background-color: rgba(0, 0, 0, 0.4);
     margin: 0 35%;
}
/* Sets the text size in the pop up to 10 point font */
.smallText {
     font-size: 10pt;
}
/* sets the display for modify group to be a flex box with the direction of displayed items to be column wise, i.e. vertical */
#modGroup {    
     display: flex;

     flex-direction: column;  
}
/* set the input and selection of items to end at the bottom of the box */
.gameOptions input, .gameOptions select {
     align-self: flex-end;
}

/*************************
* Navigational Component *
*************************/

/* navigation is in block form with a 1 pixel sized black border */
.navigation {
     display: block;
     border: 1px solid black;
}
/* nav-header is a part of navigation and turns the cursor to a pointer and positions the header relative to the screen */
.navigation > .nav-header {
     display: block;
     position: relative;
     cursor: pointer;
}
/* header-text is a part of nav-header and aligns the text in the header to be centered */
.navigation > .nav-header > .header-text {
     text-align: center;
}
/* this dropdownbox is a part of navigation and sets the dropdown box to be invisible to the user with no display text */
.navigation > .dropdownbox {
     display: none;
     visibility: hidden;
}
/* this dropdownbox is a part of navigation.active and sets the dropdown box to be visible to the user with a block display */
.navigation.active > .dropdownbox {
     display: block;
     visibility: visible;
}

/*************************
*   Miscellaneous Tags   *
*************************/

/* Sets a body to be a flex blox with centered text, alignment centered and content centered */
body {
     display: flex; 
     text-align: center;
     align-content: center;
     justify-content: center;
}
/* Sets a body to be a width of 1440 pixels and a max width as the same values, 1440 pixels */
.container {
     width: 1440px;
     max-width: 1440px;
}
/* Sets comments to be hidden from the user */
.comment {
     display: none;
     visibility: hidden;
}
