.center {
     text-align: center;
}
.right-aligned-dropdown-arrow {
     margin: 0px;
     padding: 0px;
     position: absolute;
     right: 20px;
     top: 5px;
     font-size: 30px;
}
.HTU-button {
    border: none;
}

/*************************
*        Popups          *
*************************/

.popup {
     background-color: rgba(0, 0, 0, 0.4);
     margin: 0 35%;
}

.smallText {
     font-size: 10pt;
}

#modGroup {    
     display: flex;

     flex-direction: column;  
}

.gameOptions input, .gameOptions select {
     align-self: flex-end;
}

/*************************
* Navigational Component *
*************************/
.navigation {
     display: block;
     border: 1px solid black;
}

.navigation > .nav-header {
     display: block;
     position: relative;
     cursor: pointer;
}

.navigation > .nav-header > .header-text {
     text-align: center;
}

.navigation > .dropdownbox {
     display: none;
     visibility: hidden;
}

.navigation.active > .dropdownbox {
     display: block;
     visibility: visible;
}

/*************************
*   Miscellaneous Tags   *
*************************/
body {
     display: flex; 
     text-align: center;
     align-content: center;
     justify-content: center;
}
.container {
     width: 1440px;
     max-width: 1440px;
}

.comment {
     display: none;
     visibility: hidden;
}
